/* 5etools 中文版樣式 */
.zh-en {
	margin-left: .4em;
	font-size: .72em;
	font-weight: normal;
	font-style: normal;
	opacity: .6;
}
.ve-lst__row .zh-en { font-size: .8em; }
.ve-stats__h-name .zh-en { font-size: .6em; }
